.productCard {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4%;
    max-width: 300px;
    border: 4%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
 
  .productImage img {
    width: 350px;
   height: 200px;
   object-fit: cover;
  }
  .productPrice {
   font-weight: bold;
   padding-left: 25%;
  }
  .productDesc{
    width: 210px;
    padding: auto;
    word-wrap: break-word;
  }